.HannyaRoller-space {
  height: 100vh;
  overflow: hidden;
  width: 100vw;
}
.HannyaRoller-roller {
  --perspective: 100vw;
  --surface-height: 0; /* set in style attr */
  --font-size: 0; /* set in style attr */
  --rotate-x: 0; /* set in style attr */
  --rotate-y: 0; /* set in style attr */

  font-size: var(--font-size);
  height: 100%;
  position: relative;
  transform: perspective(var(--perspective)) rotateX(var(--rotate-x))
    rotateY(var(--rotate-y));
  transform-style: preserve-3d;
  width: 100%;
}
.HannyaRoller-line {
  --degree: 0deg; /* set in style attr */
  --translate-z: calc(var(--perspective) * 0.4);

  display: flex;
  flex-direction: column;
  height: var(--surface-height);
  justify-content: center;
  left: calc(50% - 0.5em);
  position: absolute;
  top: calc(50% - (var(--surface-height) / 2));
  transform: rotateY(var(--degree)) translateZ(var(--translate-z));
}
.HannyaRoller-letter {
  height: 1em;
  line-height: 1em;
  text-align: center;
  width: 1em;
}
